:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;
    
    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

     --color-border:  #DEE2E6;
     --color-border-light: #D3DEE9;
     --color-primary: rgb(46, 46, 255);
     --color-white: #FFFFFF;
     --color-title: #212529;
     --color-text: #343A40;

     --border-radius-d: 12px;
     --border-radius-s: 4px;

     --weight-title: 600;
     --weight-text: 400;
}



/*=============*/
.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}
.page_content {
    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}

/*=============*/


.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}
.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius-d)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
display: flex;
} 
.nav_inline {
    display: flex;
    gap: var(--space-l);
}
.nav_vertical {
    display: flex;
    flex-direction: column;
    gap: var(--space-xm);
}
.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;
display: flex;
gap: var(--space-m);
line-height: 100%;
}
.nav_link:hover {
text-decoration: underline;
color: var(--color-primary);
}
.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;

    gap: var(--space-m);
}
.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: flex;
    margin-top: var(--space-l);
}
.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: flex;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}
.main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
}
.messages {
    background-color: var(--color-white);
    max-width: 620px;
    width: 100%;
    border-radius: var(--border-radius-d);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}
.messages_title {
    color: vra(--color-title);
    font-family: Roboto;
    font-size: var(--size-b);
    font-weight: var(--weight-text);

    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border-light);
}
.messages_link {
    color: var(--color-primary);
    text-align: right;
    font-family: Roboto;
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    align-self: flex-end;
    text-decoration: none;

    transition-duration: 0.7s;
    transition-property: opacity, border-color;
    border-bottom: 1px solid transparent;
}
.messages_link:hover {
    opacity: 0.7;
    border-color: var(--color-primary);
}
.msg {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    
    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border-light);
    position: relative;

    padding: var(--space-l);
}
.msg_name {
    color: var(--color-title);
    font-family: Roboto;
    font-size: var(--size-d);
    font-weight: var(--weight-title);
}
.msg_text {
    color: var(--color-title);
    font-family: Roboto;
    font-size: var(--size-d);
    font-weight: var(--weight-text);
}
.msg_day {
    position: absolute;
    right: 0;
    top: var(--space-l);
    color: var(--color-text);
    font-family: Roboto;
    font-weight: var(--weight-text);
}
.advantages {
    display: flex;
    gap: var(--space-l);
}
.advantages > div {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-d);
    border: 1px solid #E4EAF2;
    padding: var(--space-l);
    gap: var(--space-s);
    width: 100%;
}
.advantages > div > strong {
    color: var(--color-title);
    font-family: Roboto;
    font-size: 18px;
    font-weight: var(--weight-title);
}
.advantages > div > p {
    color: #767676;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.advatages > div:nth-of-type(2) {
    flex-grow: 1;
    width: 100%;
}
.form {
    max-width: 340px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-d);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}
.form_title {
    text-align: center;
    color: var(--color-title);
    font-family: Roboto;
    font-size: var(--size-b);
    font-weight: var(--weight-text);
}
.form_info {
    text-align: center;
    color: #6C757D;
    font-family: Roboto;
    font-size: var(--size-xm);
    font-weight: var(--weight-text);
}
.form_button {
    text-align: center;
    padding: 12px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-s);
    color: var(--color-white);
    transition: opacity 0.7s;
}
.form_button:hover {
    opacity: 0.7;
}
.form_button:active {
    opacity: 0.3;
}
.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
}
.form_input {
    padding: var(--size-d);
    border-radius: var(--border-radius-s);
    border: 1px solid #CED4DA;
}
.form_input::placeholder {
    color: var(--color-title);
    font-size: var(--size-d);
}
.form_checkbox {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}
.form_checkbox > input {
    display: none;
}
.form_checkbox > input ~ div {
    border-radius: 4px;
    border: 1px solid #767676;
    height: 13px;
    width: 13px;
}
.form_checkbox > input:checked ~ div {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}
.form_checkbox > label {
    color: var(--color-title);
    font-family: Roboto;
    font-size: var(--size-d);
    cursor: pointer;
}