<div class="articles_card">
     
     <img src="{{photo}}" alt="CardPhoto" class="articles_card_photo">

     <div class="articles_card_title">{{name}}</div>

     <div class="articles_card_description">{{description}}</div>

     <a href="#" class="articles_card_button">Read All</a>

  </div>